<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
   <!--  <classes>
      <class name="utils.HttpClientUtilsTestNg"/>
    </classes> -->
       <packages>
            <package name="utils" />
        </packages>
        
         <groups>
            <run>
                <!-- 不包含某个分组 -->
                <exclude name="client"/>
            </run>
        </groups>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
